body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Open Sans", sans-serif;
  }
  .title {
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .container {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .container__elem {
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 1 0px;
  }
  
  .elem__block {
    height: 190px;
    width: 190px;
    background-image: linear-gradient(to right, #f05a28, #ec008c);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .elem__block:hover {
    background: linear-gradient(145deg, #ff4000 0, #ff0099 100%);
  }
  
  .text {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hover-img:hover {
    transform: scale(1.1);
  }